
.main-page-content {
    text-align: center;
    border-style: double;
}

.main-logo {
    text-align: center;
    padding: 10px;
}

.main-horizontal-rule {
    text-align: center;
    width: 60%;
    height: 1px;
    background-color: black
}

.menu-items {
    margin:auto;
    width: 40%;
    font-family:monospace;
}

.menu-items li {
    text-transform: uppercase;
    display: inline;
    margin: 10px;
    flex-direction: left
}

.menu-items .menu-items-main-page {
    color: brown;
}

.additional-hoizontal-rule {
    text-align: center;
    width: 60%;
    background-color: black
}

.piano-keys img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.main-page-description {
    margin: auto;
    width: 50%;
}
